yt-dlp
pydub>=0.25.1
ffmpeg-python>=0.2.0

openai-whisper>=20231117
torch
torchaudio
torchvision
transformers

langchain
langchain-core
langchain-community
langchain-mistralai
langchain-chroma
langchain-huggingface
mistralai

chromadb==0.5.23
sentence-transformers
huggingface-hub
tiktoken

streamlit
watchdog

python-dotenv
numpy
tqdm
requests
protobuf==3.20.3